.header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;

    &-out {
        transform: translateY(-100%);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1050px;
    }

    @media (min-width: 320px) {
        &__container {
            width: 285px;
        }
    }

    @media (min-width: 425px) {
        &__container {
            width: 390px;
        }
    }

    @media (min-width: 768px) {
        &__container {
            width: 674px;
        }
    }

    @media (min-width: 1024px) {
        &__container {
            width: 873px;
        }
    }

    @media (min-width: 1390px) {
        &__container {
            width: 1000px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        position: relative;
        z-index: 2;

        &-burger {
            display: none;
        }

        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__item {
                cursor: pointer;
            }
        }

        &-menu {
            &__list {
                display: none;
            }
        }
    
        @media (min-width: 320px) {
            &-burger {
                display: block;
                position: relative;
                width: 25px;
                height: 20px;
                z-index: 2;
            }

            &-burger span {
                position: absolute;
                background-color: #333333;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: 0.5s;
            }

            &-burger {
                &__active {
                    &>span {
                        transform: scale(0);
                    }
                }
            }

            &-burger::before {
                content: '';
                background-color: #333333;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: 0.5s;
            }

            &-burger::after {
                content: '';
                background-color: #333333;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: 0.5s;
            }

            &-burger::before {
                top: 0;
            }

            &-burger::after {
                bottom: 0;
            }

            &-burger {
                &__active::before {
                    transform: rotate(45deg);
                    top: 9px;
                }
                &__active::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
            }

            &-link {
                display: none;
            }

            &-menu {
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                height: 28%;
                background-color: #FFFFFF;
                transition: 0.3s;

                &__list {
                    display: block;
                    position: fixed;
                    z-index: 2;
                    margin: 60px 0px 0px 30px;
                    overflow: auto;

                    &>li {
                        font-weight: 400;
                        font-size: 12px;
                        text-transform: uppercase;
                        margin: 0px 0px 10px 0px;
                    }

                    &.out {
                        visibility: hidden;
                    }
                }

                &__active {
                    top: 0;
                }
            }
        }
    
        @media (min-width: 567px) {
            &-link {
                width: 140px;
            }

            &-list {
                display: none;
            }
        }
    
        @media (min-width: 768px) {
            &-burger {
                display: none;
            }

            &-link {
                display: flex;
                width: 120px;
            }

            &-menu {
                display: none;
            }
        }
    }
}

@media (min-width: 320px) {
    .header {
        width: 100%;
    }

    .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        background-color: #FFFFFF;
    }
}

@media (min-width: 330px) {
    .header {
        width: 100%;
    }
}

@media (min-width: 372px) {
    .header {
        width: 402px;
    }
}

@media (min-width: 425px) {
    .header {
        width: 100%;
    }
}

